@import url("../../style.css");
.home-image{
    height: 20rem;
    width: 59rem;
}
.home-img-container{
    height: 23rem;
    width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 0 3rem;
}
.mustWatch{
    color: var(--white-color);
    margin: -1rem 0 2.3rem 7rem;
}
.Home-Page-container{
    height: 37.2rem;
    width:67rem;
    margin: -37.2rem 0 0 14rem;
    background-color:var(--dark-black-color) ;
    overflow-y: scroll;
    overflow-x: hidden;
}
.card-section{
    height: 24rem;
    width: 63rem;
    margin-left: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 3rem;
    justify-content: center;
}