@import url("../../style.css");

.product-container{
    height: 37rem;
    width:67rem;
    margin-left: 14rem;
    margin-top: -38.5rem;
    background-color:var(--dark-black-color) ;
}
.section{
    height:34rem;
    width: 73rem;
    margin-left: -4rem;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;  
    gap: 2rem;
    overflow-y: scroll;
    justify-content: center;
}
.trandingVideo{
    color:var(--white-color);
    position: relative;
    top: 2rem;
    display: flex;
    justify-content: center;
}
.loading{
    color:var(--white-color);
}
