@import "./../../style.css";
.playlistCard {
  width: 17rem;
  height: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-text-color);
  border-radius: 0.5rem;
  color: var(--white-color);
  margin-top: 2rem;
}

.playlistcardLink {
  text-decoration: transparent;
}

.delete_icon {
  font-size: x-large;
  cursor: pointer;
  margin-bottom: 2rem;
}
.playlistName {
  color: var(--white-color);
  font-size: 1.7rem;
}
.playlist_text {
  padding-left: 1rem;
  margin-top: -1rem;
}
.videoLength {
  margin-top: -1rem;
}
