@import url("../../style.css");

.signup-container {
  height: 32rem;
  width: 23rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 1px 2px var(--gray-color);
}
.fa-angle-right {
  color: var(--white-color);
}
.signUp-lebel {
  color: var(--white-color);
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0.1rem;
}
.signUp-heading {
  color: var(--white-color);
}
.sign-input {
  width: 17rem;
  height: 1.3rem;
  padding-left: 1.1rem;
}
.terms-and-condition {
  color: var(--white-color);
}
.termsandConditions-div {
  margin: 0.8rem 0 0 -0.2rem;
}
.sign-btn {
  padding: 0.5rem 7.8rem;
  border: transparent;
  margin-top: 1rem;
  border-radius: 0.3rem;
  background-color: var(--red-color);
  color: var(--white-color);
  font-weight: 900;
  cursor: pointer;
}
.sign-btn:hover {
  background-color: var(--red-hover-color);
}
.alreadyHaveAccount {
  color: var(--white-color);
  font-size: 0.9rem;
}
.login-here {
  text-decoration: none;
  color: var(--blue-color);
  margin-left: 1rem;
}

.signup_passwordIcon {
  color: var(--white-color);
  position: relative;
  top: -2.4rem;
  left: 16rem;
}
.confirm-Password {
  margin-top: -2.7rem;
}
.signup_hideIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: red;
  position:relative;
  left: -8.3rem;
  top: -0.3rem;
}