:root{
    --white-color:#fff;
    --dark-black-color:#131212;
    --light-black-color:#202020;
    --red-color:#e62727;
    --red-hover-color:#ee4343;
    --gray-text-color:hsla(0,0%,100%,.2);
    --light-gray-color:rgb(131, 131, 131);
    --gray-color:gray;
    --gainboro-color:gainsboro;
    --blue-color:#288cfb;
    --primary-black-color:rgb(43, 41, 41);
}

