:root{
    --white-color:white;
    --black-color:black;
    --gray-color: #e2e8f0;
    --blue-color:blue;
    --gainboro-color:gainsboro;
    --sky-blue-color:skyblue;
    --red-color:rgb(245, 38, 38);
    --dark-gray-color:gray;
    --box-shadow: 1px 1px 1px 2px gainsboro;
    /*  */
    --light-blue: #02386E;
}

